/********** Hover Zoom In ***********/
.Zoom{transition: 1s;}
.Zoom:hover{transform: scale(1.1); cursor: pointer;}


/********** After None ***********/
.after_none:after{ background: inherit !important; }


/********** After None ***********/
.botton_box {width: 100px; position: absolute; right: 10px; bottom: 0px;}
.submit_btn{ width: 50px; float: left; height: auto; }
.reload{ width: 50px; float: left; height: auto; }

.miidle-center-box{
    width: 100%;
    height: 100%;
    display: table;
}
.miidle-center-box .middle-box{
    display: table-cell;
    vertical-align: middle;
}
/********** Input Arrow None ***********/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}

.new_font{font-family: 'quicksanddash'; font-size: 46px !important;}


/********** Popup box ***********/

.overlay {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 99;}
.feedback_box {
    width: 374px;
    height: 222px;
    border: 4px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 15px;
    background: #fff;
}
.wrong_feedback, .feedback_box, .right_feedback, .overlay{display: none;}
.close_popup {position: absolute; right: -27px; top: -28px; font-size: 30px; font-weight: bold; color: red; cursor: pointer;}
.feedback_box img{width: 100%; max-width: 100%; border-radius: 20px;}


.global .header_part {height: auto; position: relative;}
.global .left_pointer_img {
    position: fixed;
    left: 0px;
    top: 10px;
    z-index: 9;}

.global .left_pointer_img img{max-width: 100%;}

@media (max-width: 360px){
.feedback_box{width: 268px;height: 166px;}
}
@media (max-width: 768px){
	.botton_box {width: 70px; position: absolute;right: 36px; bottom: 50px;}
	.submit_btn { width: 35px; float: left; height: auto;}
	.reload { width: 35px; float: left; height: auto;}
}
@media (max-width: 480px){
	.botton_box {
	    width: 90px;
	    position: absolute;
	    right: 10px;
	    bottom: 0px;
	}
	.submit_btn {
    width: 35px;
    float: left;
    height: auto;
}

.submit_btn img, .reload img {
    width: 35px !important;
    max-width: inherit;
}
	.reload { width: 35px; float: left; height: auto;}
	.unit_1_lesson_1 .exercise2 .botton_box, .unit_1_lesson_1 .exercise3 .botton_box, .unit_1_lesson_1 .exercise4 .botton_box {
    bottom: 44px;
}


.global .left_pointer_img{position: relative;text-align: center;left: 0px;top: 0px;}
}

@media (max-width: 480px){
   .dynamicpagediv .global .botton_box { position: fixed !important;  right: 16px !important; bottom: 42px !important;}
}
@media (max-width: 767px){
    .dynamicpagediv .global .botton_box { position: fixed !important; /*right: 35px !important;*/  bottom: 44px !important;}
}

.global .botton_box{position: fixed !important;right: 40px !important;bottom: 50px !important;}
.global .exercise {width: 100%;float: left;}
.global .statusIcon{position: absolute !important;width: 36px !important; display: none;}
.global .statusIcon.visible{display: inline-block !important;}
@media only screen and (max-height: 500px), (max-width: 767px){
.global.lesson{overflow: auto;overflow-x: hidden; background: #fff;}
.global .left_pointer_img{position: fixed; left:0px;top:3px;}
.global .header_part{height: 40px;}
.global .left_pointer_img img{max-height: 90px;}
.global .fullBox{margin-top:0px !important;}
}

.turnScreenMsg {
    display: flex;
    position: fixed !important;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 999;
}

.turnScreenMsg h5 {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border: 4px solid #D64686;
    border-radius: 20px;
    padding: 15px 10px;
    position: relative;
    color: #D64686;
    font-size: 22px;
}

.turnScreenMsg h5 img:not(.closeTrunMsg) {
    max-width: 30%;
    display: block;
    margin: 0 auto 10px;
}

.closeTrunMsg {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
}

@media(min-width: 481px) {
    .turnScreenMsg {
        display: none !important;
    }
}

img.closeTrunMsg {
    width: auto;
}


