/********************** unit_5_lesson_1 .exercise_1 Start ********************/
.unit_5_lesson_1 .exercise1{background: #fff url('../../images/unit_5/Lesson_1/Page_1/background.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_1 .exercise1 img{max-width: 100%;}
.unit_5_lesson_1 .exercise1 .numberBox {width: auto; float:right; display: flex;max-width: 300px;}
.unit_5_lesson_1 .exercise1 .numberBox > div{margin:5px 0px 0px 0px;}
.unit_5_lesson_1 .exercise1 .numberBox > div img{max-width: 100%;}
.unit_5_lesson_1 .exercise1 .numberBox img{cursor: pointer;}

.unit_5_lesson_1 .exercise1 .numberBox2{display: flex;width: 100%;max-width: 580px;}
.unit_5_lesson_1 .exercise1 .numberBox2 > div{width: 22%;float:left;}
.unit_5_lesson_1 .exercise1 .numberBox2 > div.Zoom img{margin-bottom: 65%;}
.unit_5_lesson_1 .exercise1 .numberBox2 > .imageBox{width: 78%; float: left; display: flex; justify-content: center; align-items: center;}
.unit_5_lesson_1 .exercise1 .numberBox2 > .imageBox > img{width: calc(100% - 50px);}
.unit_5_lesson_1 .exercise1 .numberBox2.heading1{margin: 0px 0px 0px 8%;}
.unit_5_lesson_1 .exercise1 .numberBox2.heading2{margin:8% auto 0px auto;}
/********************** unit_5_lesson_1 .exercise_1 End **********************/


/********************** unit_5_lesson_1 .exercise_2 Start ********************/
.unit_5_lesson_1 .exercise2{background: #d4effb; position: relative;}
.unit_5_lesson_1 .exercise2 img{max-width: 100%;}
.unit_5_lesson_1 .exercise2 .balloonBox{width: 100%;float: left;margin: 20px 0px 0px 0px;}
.unit_5_lesson_1 .exercise2 .balloonBox .box{width: 100%;max-width: 500px;margin: 0px auto;background:#fff;border:2px solid #faaf18; border-radius: 25px;padding:10px 0px;}
.unit_5_lesson_1 .exercise2 .balloonBox .box > div{width: 100%;display: flex;}
.unit_5_lesson_1 .exercise2 .balloonBox .box > div.row1{padding-right: 7%;}
.unit_5_lesson_1 .exercise2 .balloonBox .box > div.row2{padding-left: 7%;margin-top: -35px;}
.unit_5_lesson_1 .exercise2 .balloonBox .box > div > div {width:25%;margin:0px 15px;background: url('../../images/unit_5/Lesson_1/Page_2/ballon.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_1 .exercise2 .balloonBox .box > div > div img{width: 100%;}
.unit_5_lesson_1 .exercise2 .balloonBox .box > div > div.selected{background: url('../../images/unit_5/Lesson_1/Page_2/ballon_color.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_1 .exercise2 .numberBox .box{max-width: 270px;padding:15px;}
.unit_5_lesson_1 .exercise2 .numberBox .box input{padding:0px;border: 0px;margin: 0px;text-align: center;font-size: 114px;width: 100%;height: auto;line-height: normal;position: relative;color: #e53d3a;}
.unit_5_lesson_1 .exercise2 .numberBox .box input:after{content: '';position: absolute;}

.unit_5_lesson_1 .exercise2 .handimage{position: absolute;bottom:0px;right:10px;}
/********************** unit_5_lesson_1 .exercise_2 End **********************/


/********************** unit_5_lesson_2 .exercise_1 Start ********************/
.unit_5_lesson_2 .exercise1{background: #fff; position: relative;}
.unit_5_lesson_2 .exercise1 img{max-width: 100%;}
.unit_5_lesson_2 .exercise1 .fullBox{width: 100%;height: 100%;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox{width: 100%;height: 50%;padding:15px 0px 0px 0px;position: relative; z-index: 2;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .imageBox{width: auto;margin: 0px auto;max-width: 40%;height: 100%;display: flex;justify-content: center;align-items: flex-end;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .imageBox img{max-height: 100%;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .numBox{position: absolute;display: flex;width: auto;max-width: 180px;justify-content: center;align-items: center;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .numBox > img{width: calc(100% - 50px);}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .numBox.up{left: 8%;top: 38%;max-width: 130px;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .numBox.down{right: 11%;bottom: 5%;}

.unit_5_lesson_2 .exercise1 .border_line{position: absolute;left: 0px;right:0px;top:37%; z-index: 0;}
.unit_5_lesson_2 .exercise1 .border_line img{width: 100%;}

.unit_5_lesson_2 .exercise1 .bottomBox{padding:0px;}
.unit_5_lesson_2 .exercise1 .bottomBox > div{width: 50%;float: left; height: 100%; position: relative;}
.unit_5_lesson_2 .exercise1 .bottomBox > div.leftBox{border-right: 4px solid #ed028c;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .imageBox{max-width: 85%;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .leftBox .numBox.up {left: 30%;top: -13%;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .leftBox .numBox.down {right: 33%;bottom: 23%;}

.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .rightBox .numBox.up {left: 24%;top: 12%;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .rightBox .numBox.down {right: 17%;bottom: 23%;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .numBox.up > div{padding:20px 0px 0px 5px;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .numBox.down > div{padding:0px 5px 20px 0px;}
/********************** unit_5_lesson_2 .exercise_1 End **********************/

/********************** unit_5_lesson_2 .exercise_2 Start ********************/
.unit_5_lesson_2 .exercise2{background: #fff; position: relative;}
.unit_5_lesson_2 .exercise2 img{max-width: 100%;}
.unit_5_lesson_2 .exercise2 .fullBox{width: 100%;float: left;margin:10px 0px 0px 0px;}
.unit_5_lesson_2 .exercise2 .fullBox .topBox{width: 100%;float: left;}
.unit_5_lesson_2 .exercise2 .fullBox .topBox .imageBox{width: 100%;max-width: 385px;margin: 0px auto;padding:0px 10px;}
.unit_5_lesson_2 .exercise2 .fullBox .topBox .imageBox > div{width: 100%;float: left;padding: 10px;border-radius: 20px;display: flex;align-items: flex-end;border: 2px solid #ff0099; position: relative;}
.unit_5_lesson_2 .exercise2 .fullBox .topBox .imageBox > div img{width: 100%;}
.unit_5_lesson_2 .exercise2 .topBox .selectionArea{width: 16%;height: 26%;position: absolute;border-radius: 15px;}
.unit_5_lesson_2 .exercise2 .topBox .selectionArea.area1{left: 26%;bottom: 7%;}
.unit_5_lesson_2 .exercise2 .topBox .selectionArea.area2{right: 16%;bottom: 7%;}
.unit_5_lesson_2 .exercise2 .topBox .selectionArea.selected{background: url('../../images/unit_5/Lesson_2/Page_2/tick.png') center center no-repeat;}

.unit_5_lesson_2 .exercise2 .border_line{width: 100%;float: left;}
.unit_5_lesson_2 .exercise2 .border_line img{width: 100%;max-height: 40px;}

.unit_5_lesson_2 .exercise2 .fullBox .bottomBox .imageBox > div{padding-top:0px;}
.unit_5_lesson_2 .exercise2 .bottomBox .selectionArea{height: 20%;}
.unit_5_lesson_2 .exercise2 .bottomBox .selectionArea.area1{left: 16%;bottom: 5%;}
.unit_5_lesson_2 .exercise2 .bottomBox .selectionArea.area2{right: 25%;bottom: 5%;}

.unit_5_lesson_2 .exercise2 .icon1{bottom: 36%;left: 27%;}
.unit_5_lesson_2 .exercise2 .icon2{bottom: 36%;right: 20%;}
.unit_5_lesson_2 .exercise2 .icon3{right: 6%;}
.unit_5_lesson_2 .exercise2 .icon4{}
/********************** unit_5_lesson_2 .exercise_2 End **********************/

/********************** unit_5_lesson_2 .exercise_3 Start ********************/
.unit_5_lesson_2 .exercise3{background: #fff; position: relative;}
.unit_5_lesson_2 .exercise3 img{max-width: 100%;}
.unit_5_lesson_2 .exercise3 .fullBox{width: 100%;float: left;margin:5% 0px 0px 0px;}
.unit_5_lesson_2 .exercise3 .fullBox .imageBox{width: 100%;max-width: 100%;margin:0px auto;}
.unit_5_lesson_2 .exercise3 .fullBox .imageBox > div {width: 100%; float: left; position: relative;}
.unit_5_lesson_2 .exercise3 .fullBox .imageBox > div > img{width: 100%;}

.unit_5_lesson_2 .exercise3 .match_box{position: absolute;top:0px;left:0px;bottom:0px;width: 50%;}
.unit_5_lesson_2 .exercise3 .match_box .clickBox{position: absolute;width:7%;height: 9%;border-radius: 50%; cursor: pointer;}
.unit_5_lesson_2 .exercise3 .match_box .clickBox1{left: 46%;top: 39%;}
.unit_5_lesson_2 .exercise3 .match_box .clickBox2{left: 46%;top: 70%;}
.unit_5_lesson_2 .exercise3 .match_box .clickBox3{left: 75%;top: 29%;}
.unit_5_lesson_2 .exercise3 .match_box .clickBox4{left: 81%;top: 65%;}

.unit_5_lesson_2 .exercise3 .match_box .line{position: absolute;width: 32%;height: 2px;background: #d2232a;left: 48%;transform-origin: 0% 0%;display: none;}
.unit_5_lesson_2 .exercise3 .match_box .line_1{top: 43%;transform: rotate(-15deg);}
.unit_5_lesson_2 .exercise3 .match_box .line_2{top: 43%;transform: rotate(30deg);width: 43%;}
.unit_5_lesson_2 .exercise3 .match_box .line_3{top: 74%;transform: rotate(-47deg);width: 45%;}
.unit_5_lesson_2 .exercise3 .match_box .line_4{top: 74%;transform: rotate(-5deg);width: 37%;}


.unit_5_lesson_2 .exercise3 .match_box2{position: absolute;top:0px;right:0px;bottom:0px;width: 50%;}
.unit_5_lesson_2 .exercise3 .match_box2 .clickBox{position: absolute;width:7%;height: 9%;border-radius: 50%; cursor: pointer;}
.unit_5_lesson_2 .exercise3 .match_box2 .clickBox1{left: 16%;top: 29%;}
.unit_5_lesson_2 .exercise3 .match_box2 .clickBox2{left: 9%;top: 66%;}
.unit_5_lesson_2 .exercise3 .match_box2 .clickBox3{left: 46%;top: 29%;}
.unit_5_lesson_2 .exercise3 .match_box2 .clickBox4{left: 46%;top: 64%;}

.unit_5_lesson_2 .exercise3 .match_box2 .line{position: absolute;width: 32%;height: 2px;background: #d2232a;left: 12%;transform-origin: 0% 0%;display: none;}
.unit_5_lesson_2 .exercise3 .match_box2 .line_1{top: 33%;transform: rotate(-2deg);left: 19%;}
.unit_5_lesson_2 .exercise3 .match_box2 .line_2{top: 33%;transform: rotate(42deg);width: 42%;left: 19%;}
.unit_5_lesson_2 .exercise3 .match_box2 .line_3{top: 70%;transform: rotate(-39deg);width: 49%;}
.unit_5_lesson_2 .exercise3 .match_box2 .line_4{top: 70%;transform: rotate(-2deg);width: 38%;}
/********************** unit_5_lesson_2 .exercise_3 End **********************/

/********************** unit_5_lesson_3 .exercise_1 Start ********************/
.unit_5_lesson_3 .exercise1{background: #fff url('../../images/unit_5/Lesson_3/Page_1/background.png') center center no-repeat; background-size: contain;}
.unit_5_lesson_3 .exercise1 img{max-width: 100%;}
.unit_5_lesson_3 .exercise1 .numberBox {width: auto; float:right; display: flex;max-width: 340px;}
.unit_5_lesson_3 .exercise1 .numberBox > div{margin:5px 0px 0px 0px;}
.unit_5_lesson_3 .exercise1 .numberBox > div img{max-width: 100%;}

.unit_5_lesson_3 .exercise1 .numberBox2{display: flex;width: 100%;max-width: 540px;clear: both; position: relative;}
.unit_5_lesson_3 .exercise1 .numberBox2 > div{width: 22%;float:left;}
.unit_5_lesson_3 .exercise1 .numberBox2 > .imageBox{width: 78%; float: left; display: flex; justify-content: center; align-items: center;}
.unit_5_lesson_3 .exercise1 .numberBox2 > .imageBox > img{width: calc(100% - 50px);}
.unit_5_lesson_3 .exercise1 .numberBox2.heading1{float:right;}
.unit_5_lesson_3 .exercise1 .numberBox2.heading2{float: left;top:35%;}
.unit_5_lesson_3 .exercise1 .numberBox img {cursor: pointer;}
/********************** unit_5_lesson_3 .exercise_1 End **********************/

/********************** unit_5_lesson_3 .exercise_2 Start ********************/
.unit_5_lesson_3 .exercise2{background: #f0f3c2;position: relative;}
.unit_5_lesson_3 .exercise2 img{max-width: 100%;z-index: 2;}
.unit_5_lesson_3 .exercise2 .fullBox{width: 100%; float: left;margin:10% 0px 0px 0px;}
.unit_5_lesson_3 .exercise2 .fullBox .leftBox{width: 50%; float: left;padding:10px 15px;}
.unit_5_lesson_3 .exercise2 .fullBox .imageBox{width: 100%;max-width: 400px;margin: 0px auto;}
.unit_5_lesson_3 .exercise2 .fullBox .dreg_box_area{width: 100%; float: left; display: flex; justify-content: left;align-items: center;}
.unit_5_lesson_3 .exercise2 .fullBox .dreg_box_area > div{margin: 0px 10px 5px 0px;}
.unit_5_lesson_3 .exercise2 .fullBox .dreg_box_area > div:first-child{width: 35px;}
.unit_5_lesson_3 .exercise2 .fullBox .dreg_box_area > div:nth-child(2) div{width: 60px; height: 60px; background: url('../../images/unit_5/Lesson_3/Page_2/circle_shape.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_3 .exercise2 .fullBox .drop_box_area{width: 100%; float: left; position: relative;z-index: 0;}
.unit_5_lesson_3 .exercise2 .fullBox .drop_area{position: absolute;top:0px;left:0px;right:0px;bottom: 0px;display: flex;flex-wrap: wrap;}
.unit_5_lesson_3 .exercise2 .fullBox .drop_area .drop_box{width: 20%; height: 50%; display: flex; justify-content: center; align-items: center;padding:0px 10px;}
.unit_5_lesson_3 .exercise2 .fullBox .drop_area .drop_box img{position: static !important;}

.unit_5_lesson_3 .exercise2 .fullBox .rightBox{width: 50%; float: left;padding:10px 15px;}
.unit_5_lesson_3 .exercise2 .fullBox .numberBox{width: 100%;max-width: 380px;margin:60px auto 0px auto;}
.unit_5_lesson_3 .exercise2 .fullBox .numberBox .box{width: 100%;float: left;margin: 0px auto;background: #fff;border: 2px solid #faaf18;border-radius: 25px;padding: 15px;}
.unit_5_lesson_3 .exercise2 .fullBox .numberBox .box input {padding: 0px;border: 0px;margin: 0px;text-align: center;font-size: 154px;width: 100%;height: auto;line-height: normal;position: relative;color: #e53d3a;}
/********************** unit_5_lesson_3 .exercise_2 Start ********************/

/********************** unit_5_lesson_4 .exercise_1 Start ********************/
.unit_5_lesson_4 .exercise1{background: #fff;}
.unit_5_lesson_4 .exercise1 img{max-width: 100%;}
.unit_5_lesson_4 .exercise1 .fullBox{width: 100%; float: left;}
.unit_5_lesson_4 .exercise1 .fullBox .topBox{width: 100%; float: left;padding: 10px 10px 0px 10px;}
.unit_5_lesson_4 .exercise1 .topBox .imageBox{width: 100%; float: left;position: relative;}
.unit_5_lesson_4 .exercise1 .topBox .imageBox:first-child div:first-child{width: 55%;float: left;}
.unit_5_lesson_4 .exercise1 .topBox .imageBox:first-child div:last-child{width: 38%;float: right;}
.unit_5_lesson_4 .exercise1 .topBox .imageBox > div > img{width: 100%;}

.unit_5_lesson_4 .exercise1 .topBox .imageBox:last-child div:first-child{width: 38%;float: left;}
.unit_5_lesson_4 .exercise1 .topBox .imageBox:last-child div:last-child{width: 55%;float: right;}

.unit_5_lesson_4 .exercise1 .border_line{width: 100%; float: left;}
.unit_5_lesson_4 .exercise1 .border_line img{width: 100%;}

.unit_5_lesson_4 .exercise1 .bottomBox{width: 100%;float: left;padding:0px 10px;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox{width: 100%; max-width: 732px;margin:0px auto;position: relative;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox > img{width: 100%;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox{display: flex;position: absolute;;top: 0px;width: 26%;justify-content: center;align-items: center;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox > div{width: 50px;padding-right:10px;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox > div img{width: 40px;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox > img{width: calc(100% - 50px);}

.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox.left1{left: 0px;top:2%;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox.left2{left: 0px;top:75%;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox.right1{right:0px;top:2%;}
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox.right2{right:0px;top:75%;}
/********************** unit_5_lesson_4 .exercise_1 End ********************/

/********************** unit_5_lesson_4 .exercise_2 Start ********************/
.unit_5_lesson_4 .exercise2{background: #fff;position: relative;}
.unit_5_lesson_4 .exercise2 img{max-width: 100%;}
.unit_5_lesson_4 .exercise2 .fullBox{width: 100%;float: left;padding:0px 10px;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea{width: 100%;float: left;display: flex;justify-content: center;margin:5% 0px 20px 0px;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox{display: flex;display: flex;justify-content: center;align-items: center;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox:first-child{margin:0px 15px 0px 0px;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox > div:first-child{width: 40px;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox > img{margin:0px 5px;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox > div:last-child{width: 40px;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox > div:last-child .colorDot{width: 34px;height: 34px;border-radius: 50%; cursor: pointer;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox:first-child > div:last-child > div.colorDot{background-color: #41ad49;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox:last-child > div:last-child > div.colorDot{background-color: #25408f;}
.unit_5_lesson_4 .exercise2 .fullBox .boxArea .numberBox > div:last-child .colorDot.selected{border:2px solid #000;}

.unit_5_lesson_4 .exercise2 .colorTool{width: 100%;max-width: 600px;margin:0px auto;}
.unit_5_lesson_4 .exercise2 .colorTool .wrapperTool{width: 100%; float: left;border:2px solid #c8c1df;border-radius: 15px;padding:15px 0px;display: flex; align-items: stretch;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn{ display: flex; justify-content: center; align-items: center;padding:0px 10px;border-right: 2px solid #c8c1df;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn:last-child{border:0px;}

.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.foot .left{background: url('../../images/unit_5/Lesson_4/Page_2/foot_left.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.foot .left.green{background: url('../../images/unit_5/Lesson_4/Page_2/foot_left_green.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.foot .left.blue{background: url('../../images/unit_5/Lesson_4/Page_2/foot_left_blue.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.foot .right{background: url('../../images/unit_5/Lesson_4/Page_2/foot_right.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.foot .right.green{background: url('../../images/unit_5/Lesson_4/Page_2/foot_right_green.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.foot .right.blue{background: url('../../images/unit_5/Lesson_4/Page_2/foot_right_blue.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.heart .left{background: url('../../images/unit_5/Lesson_4/Page_2/heart.png') center center no-repeat; background-size: 100% 100%;margin:0px 10px 0px 0px}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.heart .left.green{background: url('../../images/unit_5/Lesson_4/Page_2/heart_green.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.heart .left.blue{background: url('../../images/unit_5/Lesson_4/Page_2/heart_blue.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.heart .right{background: url('../../images/unit_5/Lesson_4/Page_2/heart.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.heart .right.green{background: url('../../images/unit_5/Lesson_4/Page_2/heart_green.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.heart .right.blue{background: url('../../images/unit_5/Lesson_4/Page_2/heart_blue.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.ice .left{background: url('../../images/unit_5/Lesson_4/Page_2/ice_cream.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.ice .left.green{background: url('../../images/unit_5/Lesson_4/Page_2/ice_cream_green.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.ice .left.blue{background: url('../../images/unit_5/Lesson_4/Page_2/ice_cream_blue.png') center center no-repeat; background-size: 100% 100%;}

.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.ice .right{background: url('../../images/unit_5/Lesson_4/Page_2/ice_cream.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.ice .right.green{background: url('../../images/unit_5/Lesson_4/Page_2/ice_cream_green.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_4 .exercise2 .wrapperTool .flexColumn.ice .right.blue{background: url('../../images/unit_5/Lesson_4/Page_2/ice_cream_blue.png') center center no-repeat; background-size: 100% 100%;}
/********************** unit_5_lesson_4 .exercise_2 Start ********************/

/********************** unit_5_lesson_4 .exercise_3 Start ********************/
.unit_5_lesson_4 .exercise3{background: #fff; position: relative;}
.unit_5_lesson_4 .exercise3 img{max-width: 100%;}
.unit_5_lesson_4 .exercise3 .fullBox{width: 100%; float: left;display:flex;justify-content: center; align-items: center; height: 100%;}
.unit_5_lesson_4 .exercise3 .imageBox{width: 100%;float:left;position: relative;}
.unit_5_lesson_4 .exercise3 .imageBox > img{width: 100%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea{position: absolute;left:0px;right:0px;top:0px;bottom:0px;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox{position: absolute;width: 9%;height:15%; cursor: pointer;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox.circle.selected{border:2px solid red;border-radius: 50%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox.tick.selected{background: url('../../images/unit_5/Lesson_4/Page_3/tick.png') center center no-repeat;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox:nth-of-type(1){left:35%;top:22%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox:nth-of-type(2){left:51%;top:29%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox:nth-of-type(3){left: 40%;top: 36%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox:nth-of-type(4){left: 36%;top: 67%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox:nth-of-type(5){left: 46%;top: 56%;}
.unit_5_lesson_4 .exercise3 .imageBox .clickArea .clickBox:nth-of-type(6){left: 48%;top: 75%;}
/********************** unit_5_lesson_4 .exercise_3 End ********************/


/********************** unit_5_lesson_5 .exercise_1 Start ********************/
.unit_5_lesson_5 .exercise1{background: #fff;position: relative;}
.unit_5_lesson_5 .exercise1 img{max-width: 100%;}
.unit_5_lesson_5 .exercise1 .fullBox{width: 100%; float: left;}
.unit_5_lesson_5 .exercise1 .topHeaderBox{width: 100%; float: left;display: flex;align-items: center;justify-content: center;text-align: center;margin:10px 0px;}
.unit_5_lesson_5 .exercise1 .topHeaderBox .numberBox{display: flex;align-items: center;justify-content: center;position: relative; z-index: 99;}
.unit_5_lesson_5 .exercise1 .topHeaderBox .numberBox .imageBox{cursor: pointer;}
.unit_5_lesson_5 .exercise1 .topHeaderBox .numberBox .imageBox.triangle{background: url('../../images/unit_5/Lesson_5/Page_1/triangle.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_5 .exercise1 .topHeaderBox .numberBox .imageBox.rectangle{background: url('../../images/unit_5/Lesson_5/Page_1/rectangle.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_5 .exercise1 .topHeaderBox .numberBox > div img{float: left;}

.unit_5_lesson_5 .exercise1 .topBox{width: 100%; float: left;}
.unit_5_lesson_5 .exercise1 .topBox > div{width: 50%; float: left;padding:0px 10px; position: relative;}
.unit_5_lesson_5 .exercise1 .topBox > div > img{width: 100%;}
.unit_5_lesson_5 .exercise1 .drop_box_area{position: absolute;left:0px;top:0px;right: 0px;bottom: 0px;}
.unit_5_lesson_5 .exercise1 .drop_box_area .drop_box{position: absolute;width: 14%;height: 35%; display: flex; justify-content: center; align-items: center;}
.unit_5_lesson_5 .exercise1 .drop_box_area .drop_box img{position: static !important;}
.unit_5_lesson_5 .exercise1 .leftBox .drop_box_area .drop_box:nth-of-type(1){left: 20%;top: 10%;}
.unit_5_lesson_5 .exercise1 .leftBox .drop_box_area .drop_box:nth-of-type(2){left: 65%;top: 37%;}

.unit_5_lesson_5 .exercise1 .rightBox .drop_box_area .drop_box:nth-of-type(1){left: 8%;top: 40%;}
.unit_5_lesson_5 .exercise1 .rightBox .drop_box_area .drop_box:nth-of-type(2){left: 79%;top: 0%;}

.unit_5_lesson_5 .exercise1 .border_line{width: 100%;float: left;}
.unit_5_lesson_5 .exercise1 .border_line img{width: 100%;max-height: 40px;}

.unit_5_lesson_5 .exercise1 .bottomBox{width: 100%;float: left;;}
.unit_5_lesson_5 .exercise1 .bottomBox .leftBox{width: 22%;float: left;padding:0px 10px;}
.unit_5_lesson_5 .exercise1 .bottomBox .rightBox{width: 78%;float: left;padding:0px 10px;}
.unit_5_lesson_5 .exercise1 .bottomBox .rightBox > div{margin:10px 0px;}

.unit_5_lesson_5 .exercise1 .paragraph{width: 100%;float: left;display: flex;}
.unit_5_lesson_5 .exercise1 .paragraph > div{display: flex;align-items: flex-end;float: left;flex-grow: 0;flex-shrink: 0;}
.unit_5_lesson_5 .exercise1 .paragraph1 > div:nth-of-type(1){width:39%;}
.unit_5_lesson_5 .exercise1 .paragraph1 > div:nth-of-type(2){width:10%;}
.unit_5_lesson_5 .exercise1 .paragraph1 > div:nth-of-type(3){width:2%;}

.unit_5_lesson_5 .exercise1 .paragraph2 > div:nth-of-type(1){width:42%;}
.unit_5_lesson_5 .exercise1 .paragraph2 > div:nth-of-type(1) img{position: relative;bottom:-20%;}
.unit_5_lesson_5 .exercise1 .paragraph2 > div:nth-of-type(2){width:18%;}
.unit_5_lesson_5 .exercise1 .paragraph2 > div:nth-of-type(3){width:2%;}

.unit_5_lesson_5 .exercise1 .spclTexbox{width: 100%;border-top: 1px solid #5eccf5;border-bottom: 1px solid #5eccf5; position: relative;padding:0px 5px;font-size: 40px;font-family: 'Quicksand', sans-serif;font-weight: bold;}
.unit_5_lesson_5 .exercise1 .spclTexbox:after{position: absolute; z-index: 0; content: ' '; height: 2px;left:0px;right:0px;top:calc(50% - 1px);background: url('../../images/globle_images/textbox_border.png') left center repeat-x;}
.unit_5_lesson_5 .exercise1 .spclTexbox input{width:100%;border:0px;margin:0px;height: auto;padding:0px; position: relative;z-index: 2;background: none; font-size: inherit; font-family: inherit; font-weight: inherit;color: #231f20;}
.unit_5_lesson_5 .exercise1 .spclTexbox div{padding:0px 5px; position: absolute; left: 0px;right:0px;top:0px;bottom: 0px;z-index: 1;font-size: inherit; font-family: inherit;color:#ccc;font-weight: inherit;}
/********************** unit_5_lesson_5 .exercise_1 End ********************/


/********************** unit_5_lesson_5 .exercise_2 Start ********************/
.unit_5_lesson_5 .exercise2{background: #fff;position: relative;}
.unit_5_lesson_5 .exercise2 img{max-width: 100%;}
.unit_5_lesson_5 .exercise2 .fullBox{width: 100%; float: left;}
.unit_5_lesson_5 .exercise2 .topHeaderBox{width: 100%; float: left;display: flex;align-items: center;justify-content: center;text-align: center;margin:10px 0px;}
.unit_5_lesson_5 .exercise2 .topHeaderBox .numberBox{display: flex;align-items: center;justify-content: center;position: relative; z-index: 99;}
.unit_5_lesson_5 .exercise2 .topHeaderBox .numberBox .imageBox{cursor: pointer;margin:0px 8px 0px 0px;}
.unit_5_lesson_5 .exercise2 .topHeaderBox .numberBox .imageBox.circle{background: url('../../images/unit_5/Lesson_5/Page_2/circle.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_5 .exercise2 .topHeaderBox .numberBox .imageBox.square{background: url('../../images/unit_5/Lesson_5/Page_2/square.png') center center no-repeat; background-size: 100% 100%;}
.unit_5_lesson_5 .exercise2 .topHeaderBox .numberBox > div img{float: left;max-height: 40px;}

.unit_5_lesson_5 .exercise2 .topBox{width: 100%; float: left;}
.unit_5_lesson_5 .exercise2 .topBox > div{width: 50%; float: left;padding:0px 10px; position: relative;}
.unit_5_lesson_5 .exercise2 .topBox > div > img{width: 100%;}
.unit_5_lesson_5 .exercise2 .drop_box_area{position: absolute;left:0px;top:0px;right: 0px;bottom: 0px; }
.unit_5_lesson_5 .exercise2 .drop_box_area .drop_box{position: absolute;width: 13%;height: 30%;display: flex; justify-content: center; align-items: center;}
.unit_5_lesson_5 .exercise2 .drop_box_area .drop_box img{position: static !important;}
.unit_5_lesson_5 .exercise2 .leftBox .drop_box_area .drop_box:nth-of-type(1){left: 30%;top: 30%;}
.unit_5_lesson_5 .exercise2 .leftBox .drop_box_area .drop_box:nth-of-type(2){left: 57%;top: 30%;}

.unit_5_lesson_5 .exercise2 .rightBox .drop_box_area .drop_box:nth-of-type(1){left: 23%;top: 44%;}
.unit_5_lesson_5 .exercise2 .rightBox .drop_box_area .drop_box:nth-of-type(2){left: 65%;top: 44%;}

.unit_5_lesson_5 .exercise2 .border_line{width: 100%;float: left;}
.unit_5_lesson_5 .exercise2 .border_line img{width: 100%;max-height: 40px;}

.unit_5_lesson_5 .exercise2 .bottomBox{width: 100%;float: left;;}
.unit_5_lesson_5 .exercise2 .bottomBox .leftBox{width: 28%;float: left;padding:0px 10px;margin-top: 25px;}
.unit_5_lesson_5 .exercise2 .bottomBox .rightBox{width: 72%;float: left;padding:0px 10px;}
.unit_5_lesson_5 .exercise2 .bottomBox .rightBox > div{margin:10px 0px;}


.unit_5_lesson_5 .exercise2 .paragraph{width: 100%;float: left;display: flex;}
.unit_5_lesson_5 .exercise2 .paragraph > div{display: flex;align-items: flex-end;float: left;flex-grow: 0;flex-shrink: 0;}
.unit_5_lesson_5 .exercise2 .paragraph1 > div:nth-of-type(1){width:50%;}
.unit_5_lesson_5 .exercise2 .paragraph1 > div:nth-of-type(1) img{position: relative;bottom:-20%;}
.unit_5_lesson_5 .exercise2 .paragraph1 > div:nth-of-type(2){width:14%;}
.unit_5_lesson_5 .exercise2 .paragraph1 > div:nth-of-type(3){width:2%;}

.unit_5_lesson_5 .exercise2 .paragraph2 > div:nth-of-type(1){width:55%;}
.unit_5_lesson_5 .exercise2 .paragraph2 > div:nth-of-type(1) img{position: relative;bottom:-20%;}
.unit_5_lesson_5 .exercise2 .paragraph2 > div:nth-of-type(2){width:18%;}
.unit_5_lesson_5 .exercise2 .paragraph2 > div:nth-of-type(3){width:2%;}

.unit_5_lesson_5 .exercise2 .spclTexbox{width: 100%;border-top: 1px solid #5eccf5;border-bottom: 1px solid #5eccf5; position: relative;padding:0px 5px;font-size: 40px;font-family: 'Quicksand', sans-serif;font-weight: bold;}
.unit_5_lesson_5 .exercise2 .spclTexbox:after{position: absolute; z-index: 0; content: ' '; height: 2px;left:0px;right:0px;top:calc(50% - 1px);background: url('../../images/globle_images/textbox_border.png') left center repeat-x;}
.unit_5_lesson_5 .exercise2 .spclTexbox input{width:100%;border:0px;margin:0px;height: auto;padding:0px; position: relative;z-index: 2;background: none; font-size: inherit; font-family: inherit; font-weight: inherit;color: #231f20;}
.unit_5_lesson_5 .exercise2 .spclTexbox div{padding:0px 5px; position: absolute; left: 0px;right:0px;top:0px;bottom: 0px;z-index: 1;font-size: inherit; font-family: inherit;color:#ccc;font-weight: inherit;}
/********************** unit_5_lesson_5 .exercise_2 End ********************/


/********************** unit_5_lesson_6 .exercise_1 Start ********************/
.unit_5_lesson_6 .exercise1{background: #fff; position: relative;}
.unit_5_lesson_6 .exercise1 img{max-width: 100%;}
.unit_5_lesson_6 .exercise1 .fullBox{width: 100%;float: left;display: flex;flex-wrap: wrap; height: 90%;margin:1% 0px 0px 0px;padding:0px 10px;}
.unit_5_lesson_6 .exercise1 .fullBox .flexBox{width: 50%;float: left;padding: 15px; height: 50%;}
.unit_5_lesson_6 .exercise1 .flexBox .imageBox{width: 100%;float: left;height: 100%;border-radius: 15px;padding: 15px 15px 0px 15px;border:2px solid #fff101;display: flex;justify-content: left;align-items: start; position: relative;}
.unit_5_lesson_6 .exercise1 .flexBox:nth-of-type(3) .imageBox,
.unit_5_lesson_6 .exercise1 .flexBox:nth-of-type(4) .imageBox{align-items: flex-end;}
.unit_5_lesson_6 .exercise1 .flexBox .imageBox img{width: 85%;}
.unit_5_lesson_6 .exercise1 .flexBox input{border:2px solid #464243;margin: 0px;position: absolute;bottom: 2px;right: 2px;width: 16%;height: 27%;border-radius: 15px;text-align: center;font-size: 40px;color: #e53d3a; font-weight: bold;}
/********************** unit_5_lesson_6 .exercise_1 End ********************/


/********************** unit_5_lesson_6 .exercise_2 Start ********************/
.unit_5_lesson_6 .exercise2{position:relative;background: #fff url('../../images/unit_5/Lesson_6/Page_2/background.png') center center no-repeat; background-size: cover;}
.unit_5_lesson_6 .exercise2 img{max-width: 100%;}
.unit_5_lesson_6 .exercise2 .fullBox{width: 100%;float: left;margin:5% 0px 0px 0px;}
.unit_5_lesson_6 .exercise2 .fullBox > div{width: 50%;float:left; text-align: center;}
.unit_5_lesson_6 .exercise2 .fullBox .imageBox{margin-bottom: 10%;}
.unit_5_lesson_6 .exercise2 .fullBox .leftBox .numberBox{margin:18% 0px 0px 0px;}
.unit_5_lesson_6 .exercise2 .fullBox .rightBox .numberBox{margin:15% 0px 0px 0px;}
.unit_5_lesson_6 .exercise2 .fullBox .numberBox > div{display: inline-block;position: relative;max-width: 170px;padding:0px 10px;}
.unit_5_lesson_6 .exercise2 .fullBox .numberBox > div .clickArea{position: absolute;left:0px;right:0px;top:0px;bottom: 0px;cursor: pointer;}
.unit_5_lesson_6 .exercise2 .fullBox .numberBox > div .clickArea.circle.selected{border:3px solid #bf454c;border-radius: 50%;}
.unit_5_lesson_6 .exercise2 .fullBox .numberBox > div .clickArea.cross.selected{background: url('../../images/unit_5/Lesson_6/Page_2/cross.png') center center no-repeat;}

/********************** unit_5_lesson_6 .exercise_2 End ********************/