
@media (max-width: 767px){
    .unit_5_lesson_1 .exercise1{height: auto;}
    .up1{margin-left: 0;}
    .down1 {  margin-right: 0px;  float: right;  margin-top: 0px; }
    .unit_5_lesson_1 .exercise1 .numberBox2.heading1 { margin: 0px 0px 0px 0%;}
    .unit_5_lesson_1 .exercise1 .numberBox2 > .imageBox{width: 69%;}
    .unit_5_lesson_2 .exercise1 .border_line{ position: sticky;}
    .unit_5_lesson_1 .exercise2 .numberBox .box{padding: 15px;float: left;margin: 0px 0px 19px 42px;max-width: 400px;}
	.unit_5_lesson_1 .exercise2 .numberBox1 .box{padding: 15px;float: left;margin: 0px 0px 19px 42px;max-width: 400px;top:-50px;}
    .unit_5_lesson_1 .exercise2 .handimage{float: right;position: static;}
    .unit_5_lesson_1 .exercise2{ background: #fff;}
    .unit_5_lesson_2 .exercise1 .fullBox .topBox{height: auto;}
    .unit_5_lesson_2 .exercise1 .fullBox .bottomBox .rightBox .numBox.up{left: 16%;top: -22%;}
    .unit_5_lesson_3 .exercise2 .fullBox .numberBox .box input{ font-size: 99px;}
    .unit_5_lesson_3 .exercise1 .numberBox2.heading2{top: 0px;}
    .unit_5_lesson_3 .exercise1{ height: auto;}
    .unit_5_lesson_6 .exercise1 .fullBox{margin-bottom: 140px;}
    .unit_5_lesson_6 .exercise1 .fullBox .flexBox{height: 72%;}
    .unit_5_lesson_6 .exercise1 .flexBox input{ font-size: 40px;}
	.homework{bottom:0px;}

    .unit_6_lesson_1 .exercise1{ height: auto;}
    .unit_6_lesson_1 .exercise1 .numberBox2{max-width: 85%;}
    .unit_6_lesson_1 .exercise1 .numberBox2.heading2{margin: 14% 0% 5% 13%;}
    .unit_6_lesson_1 .exercise2 .fullBox .numberBox .box input{font-size: 99px;}

    .unit_7_lesson_2 .exercise2 .bottomArea .header_part .left_pointer_img{position: absolute;}
    .unit_7_lesson_3 .exercise2 .topBox input{font-size: 28px;}
    .unit_7_lesson_4 .exercise2 .bottomBox .imageBox{margin-bottom: 42px;}
    .unit_7_lesson_5 .exercise1 .fullBox{margin: 3% 0px 10% 0px;}
    .unit_7_lesson_5 .exercise2 .fullBox{margin: 3% 0px 10% 0px;}
    .unit_7_lesson_6 .exercise1{height: auto;}
    .unit_7_lesson_6 .exercise1 .fullBox{width: 78%;}
    .unit_7_lesson_6 .exercise2 .fullBox{margin: 3% 0px 10% 0px;}
    .unit_8_lesson_4 .exercise1 .fullBox{margin: 2% 0px 7% 0px;}
    .unit_5_lesson_5 .exercise1 .spclTexbox{font-size: 4vw;}
    .unit_5_lesson_5 .exercise2 .spclTexbox{font-size: 4vw;}



    
}
@media (max-width: 480px){
/********************** unit_5_lesson_1 .exercise_1 Start ********************/
.unit_5_lesson_1 .exercise1 .numberBox {float:none;margin:0px auto;}
.unit_5_lesson_1 .exercise1 .numberBox2.heading1{margin: 0px; }
.unit_5_lesson_1 .exercise1{padding: 10px;}
.unit_5_lesson_1 .exercise1 .numberBox2.heading1 { margin: 0px 0px 0px 0%;}
.unit_5_lesson_1 .exercise2 .balloonBox .box{ top: 0; margin-left: 0; }
.down1 { margin-right: 50px; float: right; margin-top: 10px;}
.unit_5_lesson_2 .exercise2 .fullBox .topBox .imageBox {width: 100%; max-width: 385px; margin: 0px auto; padding: 0px 10px; text-align: center;}
.up1 {margin-left: 0;}
/********************** unit_5_lesson_1 .exercise_1 End **********************/

/********************** unit_5_lesson_1 .exercise_2 Start ********************/
.unit_5_lesson_1 .exercise2{ padding: 10px;}
.unit_5_lesson_1 .exercise2 .numberBox .box{max-width: 225px;margin: 0px;}
.unit_5_lesson_1 .exercise2 .handimage{right: 10px;max-width: 42%;}
/********************** unit_5_lesson_1 .exercise_2 End **********************/

/********************** unit_5_lesson_2 .exercise_1 Start ********************/
.unit_5_lesson_2 .exercise1 .bottomBox > div{ width: 100%;}
.unit_5_lesson_2 .exercise1 .border_line{position: static;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .numBox.up{top: 20%; left: 0%;}
.unit_5_lesson_2 .exercise1 .fullBox .topBox .numBox.down{bottom: -16%;}
.unit_5_lesson_2 .exercise1 .bottomBox > div.leftBox{ border: none;}
/* .unit_5_lesson_2 .exercise1 .bottomBox{margin-top: 80px;} */
/********************** unit_5_lesson_2 .exercise_1 end ********************/

/********************** unit_5_lesson_2 .exercise_2 Start ********************/
.unit_5_lesson_2 .exercise2 .fullBox{margin: 10px 0px 49px 0px;}
/********************** unit_5_lesson_2 .exercise_2 end ********************/

/********************** unit_5_lesson_3 .exercise_3 Start ********************/
.unit_5_lesson_3 .exercise1 .numberBox{float: none;margin: auto;}
.unit_5_lesson_3 .exercise1{padding: 10px; height: 120%;}
/********************** unit_5_lesson_3 .exercise_1 end ********************/

/********************** unit_5_lesson_3 .exercise_2 Start ********************/
.unit_5_lesson_3 .exercise2 .fullBox .leftBox{width: 100%;}
.unit_5_lesson_3 .exercise2 .fullBox .rightBox{ width: 100%;}
.unit_5_lesson_3 .exercise2 .fullBox .numberBox{margin: 0px;}
.unit_5_lesson_3 .exercise2 .fullBox{margin: 0px;;}
.unit_5_lesson_3 .exercise2 .fullBox{background: #f0f3c2;padding-bottom: 33px;}
/********************** unit_5_lesson_3 .exercise_2 end ********************/

/********************** unit_5_lesson_4 .exercise_1 Start ********************/
.unit_5_lesson_4 .exercise1 .bottomBox .imageBox .numberBox{ width: 34%;}
/********************** unit_5_lesson_4 .exercise_1 End ********************/
.unit_5_lesson_4 .exercise3 .fullBox{height: 71%;padding-left: 13px;}
.unit_5_lesson_6 .exercise1 .fullBox .flexBox{ width: 100%; height: 52%;}


.unit_5_lesson_3 .exercise2 .fullBox .numberBox .box{top: 0;}
.unit_5_lesson_6 .exercise2 .fullBox .rightBox .numberBox {
    margin: 30% 0px 0px 0px;
}
.unit_5_lesson_6 .exercise2 .fullBox .leftBox .numberBox {
    margin: 36% 0px 0px 0px;
}

}


@media (max-width: 360px){
.unit_5_lesson_1 .exercise2 .numberBox .box{margin: auto; max-width: initial;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .leftBox .numBox.up{top: 2%;}
.unit_5_lesson_2 .exercise1 .fullBox .bottomBox .rightBox .numBox.down{right: 11%;}
.unit_5_lesson_5 .exercise1 .paragraph1 > div:nth-of-type(2){ width: 15%;}
.unit_5_lesson_5 .exercise1 .paragraph2 > div:nth-of-type(2){ width: 30%;}
.unit_5_lesson_5 .exercise2 .paragraph1 > div:nth-of-type(2){width: 21%;}
.unit_5_lesson_5 .exercise2 .paragraph2 > div:nth-of-type(2){width: 28%;}
.unit_5_lesson_6 .exercise1 .fullBox .flexBox{height: 40%;}
.unit_5_lesson_6 .exercise1 .flexBox input{ font-size: 29px;}

}